/Basics/target/
/Maven/target/
/Basics/src/test/java/Ejercicio1/build
/Basics/src/test/java/Ejercicio1/nbproject/private
/Basics/src/test/java/Ejercicio2/build/
/Basics/src/test/java/Ejercicio3/build/
/Basics/src/test/java/Ejercicio4/build/
/Basics/src/test/java/Ejercicio5/build/
/Basics/src/test/java/Ejercicio6/build/
/Basics/src/test/java/Ejercicio6/nbproject/private
/Basics/src/test/java/Ejercicio7/build/
/Basics/src/test/java/Ejercicio8/build/
/New Folder/AplicaconWeb/target/
/Jasper/nbproject/private/
/JasperReports/target/
/Reportes/nbproject/private/
/Reportes/dist/
/Reportes/build/
/ReportesPDF/nbproject/private/
/PruebaJava/nbproject/private/
/PruebaJava/build/
/Tarea/nbproject/private/
/Tarea/build/
/ListasGenericas/nbproject/private/
